astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
decorator==4.4.2
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
flake8==3.8.4
gensim==3.8.3
idna==2.10
importlib-metadata==3.4.0
isort==5.7.0
jieba3k==0.35.1
joblib==1.0.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
newspaper3k==0.2.8
nltk==3.5
numpy==1.18.4
Pillow==8.1.0
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
python-dateutil==2.8.1
PyYAML==5.4
regex==2020.11.13
requests==2.25.1
requests-file==1.5.1
scipy==1.4.1
sgmllib3k==1.0.0
six==1.15.0
smart-open==4.1.2
soupsieve==2.1
tinysegmenter==0.3
tldextract==3.1.0
toml==0.10.2
tqdm==4.56.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.2
validators==0.18.2
wrapt==1.12.1
zipp==3.4.0
